$header-main-color: rgba(247,202,247,0.5);

@mixin allerta-stencil {
    font-family: Allerta Stencil;
    font-variant: small-caps;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: auto;

    .header-main {
        width: 100%;
        top: 2%;
        position: absolute;
        font-family: Allerta;
        text-align: center;

        -webkit-animation: appear 1.3s ease-out;
        animation: appear 1.3s ease-out;
        @keyframes appear {
            0% {top: -3%; opacity: 0}
            40% {top: -3%; opacity: 0}
            100% {top: 2%; opacity: 1}
        }

        .name {
            @include allerta-stencil;
            font-size: 2.5em;
            margin-bottom: -10px;
        }

        .occupation {
            font-family: Allerta Stencil;
            font-size: 1.25em;
        }

    }

    .section2 {
        @include allerta-stencil;
        width: 400px;
        top: 25%;
        position: absolute;
        text-align: center;
        background-color: $header-main-color;

        -webkit-animation: badges .4s linear;
        animation: badges .6s linear;
        @keyframes badges {
            from {top: 30%; opacity: 0}
            to {top: 25%; opacity: 1}
        }


        .badge {
            margin: 2px;
            border-radius: 5px;
            height: 110px;
            width: 30.5%;
            background-color: tan;
            box-shadow: 5px 5px 2px grey;
            display: inline-block;
            transition: background-color .3s;

            span {
                margin-top: 20px;
                font-size: 1.5em;
            }

            .badge-name {
                visibility: hidden;
            }
        }

        .badge:hover {
            background-color: rgba(247,202,247,0.5);
            box-shadow: 7px 7px 2px grey;
            transition: background-color .3s;

            .badge-name {
                z-index: 999;
                visibility: visible;
            }
        }


        a:link {
            text-decoration: none;
        }
    }
}
