$header-main-color: rgba(247,202,247,0.5);

@mixin allerta-stencil {
    font-family: Allerta Stencil;
    font-variant: small-caps;
}

body {
    background-color: black;
}

main {
    // background-image: url('../img/newmaze1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // #bg {
    //     animation: appear 1.5s linear;
    //     @keyframes appear {
    //         0% {opacity: 0}
    //         100% {opacity: 1}
    //     }
    // }

    img {
        margin-top: 0%;
        max-width: 100%;
        opacity: .5;
        // animation: appear .2s ease;
        // @keyframes appear {
        //     0% {visibility: hidden;}
        //     100% {visibility: visible;}
        // }

    }
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.container {
    .header-main {
        width: 100%;
        top: 7%;
        position: absolute;
        font-family: Allerta;
        text-align: center;
        // animation: appear 2.7s ease-out;
        // @keyframes appear {
        //     0% {top: 2%; opacity: 0}
        //     70% {top: 2%; opacity: 0}
        //     100% {top: 7%; opacity: 1}
        // }

        .name {
            @include allerta-stencil;
            font-size: 2.5em;
            color: white;
            margin-bottom: -10px;
        }

        .occupation {
            font-family: Allerta Stencil;
            // margin-right: 1%;
            color: white;
            font-size: 1.25em;
        }

    }

    .links {
        @include allerta-stencil;
        height: 165px;
        width: 320px;
        bottom: -1.5%;
        position: absolute;
        text-align: center;
        // animation: badges 2.5s ease-out;
        // @keyframes badges {
        //     0% {bottom: -4%; opacity: 0}
        //     70% {bottom: -4%; opacity: 0}
        //     100% {bottom: -1.5%; opacity: 1}
        // }

        .fa {
            color: white;
            padding: 10px;
            font-size: 3em;
            width: 50px;
            text-align: center;
            text-decoration: none;
            transition: all 0.5s;
            &:hover {
                color: #FF1177;
                transition: background-color .3s;
                // for glowing effect
                // animation: neon1 1.5s ease-in-out infinite alternate;
                // @-webkit-keyframes neon1 {
                //     from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;}
                //     to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;}
                // }
            }
        }

        a:link {
            text-decoration: none;
        }

        // .badge {
        //     margin: 1%;
        //     height: 38%;
        //     width: 20%;
        //     background-color: silver;
        //     display: inline-block;
        //     transition: background-color .3s;
        //     background-color: silver;
        //
        //     &:hover {
        //         background-color: white;
        //         transition: background-color .3s;
        //     }
        // }
    }
}
