/* line 8, ../../../scss/links.styles.scss */
body {
  background-color: black;
}

/* line 12, ../../../scss/links.styles.scss */
main {
  background-repeat: no-repeat;
  background-position: center;
}
/* line 24, ../../../scss/links.styles.scss */
main img {
  margin-top: 0%;
  max-width: 100%;
  opacity: .5;
}

/* line 37, ../../../scss/links.styles.scss */
.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 49, ../../../scss/links.styles.scss */
.container .header-main {
  width: 100%;
  top: 7%;
  position: absolute;
  font-family: Allerta;
  text-align: center;
}
/* line 62, ../../../scss/links.styles.scss */
.container .header-main .name {
  font-family: Allerta Stencil;
  font-variant: small-caps;
  font-size: 2.5em;
  color: white;
  margin-bottom: -10px;
}
/* line 69, ../../../scss/links.styles.scss */
.container .header-main .occupation {
  font-family: Allerta Stencil;
  color: white;
  font-size: 1.25em;
}
/* line 78, ../../../scss/links.styles.scss */
.container .links {
  font-family: Allerta Stencil;
  font-variant: small-caps;
  height: 165px;
  width: 320px;
  bottom: -1.5%;
  position: absolute;
  text-align: center;
}
/* line 92, ../../../scss/links.styles.scss */
.container .links .fa {
  color: white;
  padding: 10px;
  font-size: 3em;
  width: 50px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
/* line 100, ../../../scss/links.styles.scss */
.container .links .fa:hover {
  color: #FF1177;
  transition: background-color .3s;
}
/* line 112, ../../../scss/links.styles.scss */
.container .links a:link {
  text-decoration: none;
}
