/* line 3, ../../../scss/links.styles.scss */
body {
  background-color: black;
}

/* line 25, ../../../scss/links.styles.scss */
.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 41, ../../../scss/links.styles.scss */
.container .header-main {
  width: 100%;
  top: 8%;
  position: absolute;
  font-family: Allerta;
  text-align: center;
  animation: appear 1.3s ease-out;
}
@keyframes appear {
  0% {
    top: 3%;
    opacity: 0;
  }
  40% {
    top: 3%;
    opacity: 0;
  }
  100% {
    top: 8%;
    opacity: 1;
  }
}
/* line 56, ../../../scss/links.styles.scss */
.container .header-main .name {
  font-family: Allerta Stencil;
  font-variant: small-caps;
  font-size: 2.5em;
  color: white;
  margin-bottom: -10px;
}
/* line 63, ../../../scss/links.styles.scss */
.container .header-main .occupation {
  font-family: Allerta Stencil;
  margin-right: 1.5%;
  color: white;
  font-size: 1.25em;
}
/* line 72, ../../../scss/links.styles.scss */
.container .links {
  font-family: Allerta Stencil;
  font-variant: small-caps;
  height: 165px;
  width: 320px;
  bottom: -1.5%;
  position: absolute;
  text-align: center;
  animation: badges .6s linear;
}
@keyframes badges {
  from {
    bottom: -4%;
    opacity: 0;
  }
  to {
    bottom: -1.5%;
    opacity: 1;
  }
}
/* line 88, ../../../scss/links.styles.scss */
.container .links .fa {
  color: white;
  padding: 10px;
  font-size: 3em;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* line 95, ../../../scss/links.styles.scss */
.container .links .fa:hover {
  color: red;
  transition: background-color .3s;
}
/* line 117, ../../../scss/links.styles.scss */
.container .links a:link {
  text-decoration: none;
}
