<div class="background intro" ng-class="{'hide': vm.bg === false}"></div>
<div class="background github" ng-class="{'show': vm.github}"></div>
<div class="background twitter" ng-class="{'show': vm.twitter}"></div>
<div class="background soundcloud" ng-class="{'show': vm.soundcloud}"></div>
<div class="background linkedin" ng-class="{'show': vm.linkedin}"></div>
<div class="background email" ng-class="{'show': vm.email}"></div>
<div class="background car" ng-class="{'show': vm.car}"></div>
<div class="background instagram" ng-class="{'show': vm.instagram}"></div>
<div class="background" ng-class="{'show': vm.about, 'fade': vm.about}"></div>

<section class="flexcontainer container">
    <section class="header-main" ng-style="{'color': vm.color}">
        <p class="name">A.J. Farley</p>
        <p class="occupation"><span class="sax">Saxophonist</span> | <span class="pro">Programmer</span></p>
    </section>

    <section class="links">
        <a href="https://github.com/selfresonator" class="fa octocat fa-github fa-3x"
            ng-mouseenter="vm.githubhv()"
            ng-mouseleave="vm.github = false; vm.bg = true; vm.color = 'white'"></a>
        <a href="https://www.linkedin.com/in/ajfarleyengineer/" class="fa in fa-linkedin fa-3x"
            ng-mouseenter="vm.linkedinhv()"
            ng-mouseleave="vm.linkedin = false; vm.bg = true; vm.color = 'white'"></a>
        <a href="https://twitter.com/_selfresonator" class="fa tweet fa-twitter fa-3x"
            ng-mouseenter="vm.twitterhv()"
            ng-mouseleave="vm.twitter = false; vm.bg = true; vm.color = 'white'"></a>
        <a href="https://soundcloud.com/selfresonator" class="fa sc-color fa-soundcloud fa-3x"
            ng-mouseenter="vm.soundcloudhv()"
            ng-mouseleave="vm.soundcloud = false; vm.bg = true; vm.color = 'white'"></a>
        <a href="#" class="fa insta fa-instagram fa-3x"
            ng-mouseenter="vm.instagramhv()"
            ng-mouseleave="vm.instagram = false; vm.bg = true; vm.color = 'white'"></a>
        <a class="fa yellow fa-flag-checkered fa-3x"
            ng-mouseenter="vm.carhv()"
            ng-mouseleave="vm.car = false; vm.bg = true; vm.color = 'white'"></a>
        <a href="mailto:selfresonator@gmail.com?Subject=Waddup%20G?!"
            target="_top" class="fa fa-envelope fa-3x"
            ng-mouseenter="vm.emailhv()"
            ng-mouseleave="vm.email = false; vm.bg = true; vm.color = 'white'"></a>
        <p ng-class="{'hide': vm.car === false}" class="soon" style="">Coming Soon...</p>
    </section>

    <footer class="footer" ng-style="{'color': vm.color}">
        <p class="copyright"> &#169; 2017 A.J. Farley</p>
    </footer>
    <a class="fa caret fa-caret-up fa-2x" ng-style="{'color': vm.color}"
        ng-click="vm.altAbout($event)"></a>
    <div class="focus-main" ng-if="vm.about" ng-click="vm.closeAbout()"></div>
    <aside class="about" ng-class="{'showAbout': vm.about}">
        <div class="about-div">
            <header class="about-header">Welcome to the Mothership</header>
            <hr>
            <p class="about-info">Greetings all from Saturn!</p>
            <p class="about-info">I'm AJ, I'm a professional saxophonist and software extraordinaire. I play the alto sax and build web apps with Angular.js and Node.js.</p>
            <p class="about-info"><i>Check back soon, more updates and fun stuff on the way!</i></p>
            <!-- <p class="about-info">I love you Samantha!!!!!! I want to kiss you so many times when i see your beautiful face!!!</p>
            <p class="about-info">Youre my everything!!!!!!</p> -->
            <a class="fa close-caret fa-angle-down fa-2x" ng-click="vm.closeAbout()"></a>
            <footer class="about-footer"><i>Built with: Angular.js, HTML5, CSS3, Node.js</i></footer>
        </div>
    </aside>
</section>
